<form action="/customer/create" method="post">
    <div>
        <label>ID</label>
        <input type="text" name="CustomerID"/>
    </div>

    <div>
        <label>CompanyName</label>
        <input type="text" name="CompanyName"/>
    </div>

    <div>
        <label>ContactName</label>
        <input type="text" name="ContactName" />
    </div>

    <div>
        <label>Address</label>
        <input type="text" name="Address" />
    </div>

    <div>
        <button type="submit">Guardar</button>
    </div>

</form>

